html,
body {
    font-family: Nunito Sans;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    width: 100%;
    max-height: 300%;
    background: #3798fa;
    text-align: center;



}

@font-face {
    font-family: "cloudy";
    src: url("font/PleasantlyPlump-pRv1.ttf");
}

@font-face {
    font-family: "cloudy2";
    src: url("font/AlphaClouds.ttf");
}

body {
    position: relative;
}




.sky .cloud {
    margin-left: -200px;
    margin-top: -178px;
}



.cloudsky {
    position: absolute;
    transform: rotateZ(180deg);
    bottom: -200px;
    left: -200px;
}

@keyframes floating {
    from 	{ transform: translate(-10px,  10px); }
	25%		{ transform: translate(-20px, 50px); } 
    75%		{ transform: translate(30px, 0px); } 
    to   	{ transform: translate(-10px, 10px); }    
}
.sky {
    background: linear-gradient(rgba(255, 255, 255, 1) 0%, rgba(0, 0, 0, 0)99%);
}
.satellite{
    position:absolute;
    bottom:1100px;
    right:25%;
    z-index:3;
    transition:all 0.3s linear;
    
	animation-name:floating ;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    
}
.astronaut{
    position:absolute;
    bottom:800px;
    left:20%;
    z-index:5;
    
    transition:all 0.3s linear;
    
	animation-name:floating ;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    transform: scaleX(-1);
}

header{
    position: absolute;
    top:0;
    z-index:2;
    color: aliceblue;
    width:100%;
}


.section1 div {
    clip-path: circle(30px at 50% 100px);

    padding: 20px;
    border-radius: 50px;
    margin-left: 50%;
    transform: translate(-50%, 0);
    width: 70%;
    background: #f5a03b;
    transition: 1s all;
}




.space {
    
    position: relative;
    height: 1500px;
    background: rgb(13,0,33);
background: linear-gradient(180deg, rgba(13,0,33,1) 26%, rgba(9,9,121,1) 100%);
}

.color-gradient {
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
   background: rgb(31,0,82);
background: linear-gradient(180deg, rgba(31,0,82,0) 0%, rgba(31,0,82,1) 59%, rgba(9,9,121,1) 88%);
}

.space h1 {
    font-size: 50px;
    opacity: 0.8;
    font-family: cloudy;
    color: #3798fa;
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translate(-50%, -50%);

}





.section1 div:hover {
    background: white;
    clip-path: circle(200% at 50% 8%);
}


.section1 div:hover .info1 {
    opacity: 0;
}

.info1 {
    transition: 0.5s all;
}


.section1 {

    color: rgba(0, 0, 0, 1);
    font-size: 30px;
    font-weight: bold;
    margin-top: 300px;
    min-height: 100%;
}

.section1 p {


    font-size: 30px;
    font-weight: bold;
    margin-top: 200px;
    min-height: 100%;
}

.section1 img {
    margin-top: -30%;
}





#cloud1 {
    opacity: 0.7;

    margin-top: 0%;
    margin-right: -1700%;

}

#cloud2 {
    opacity: 0.8;
    margin-top: 10%;
    margin-right: -1100%;

}

#cloud3 {
    opacity: 0.7;

    margin-top: 120%;
    margin-right: -1500%;

}

#cloud4 {
    opacity: 0.7;

    margin-top: 50%;
    margin-right: -500%;

}

#cloud5 {
    opacity: 0.9;

    margin-top: 100%;
    margin-right: -100%;

}

#plane {
    margin-top: 20%;
    margin-right: -100%;

}