html,
body {
    font-family: Nunito Sans;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    width: 100%;
    max-height: 300%;
    background: #3798fa;
    text-align: center;



}

@font-face {
    font-family: "cloudy";
    src: url("font/PleasantlyPlump-pRv1.ttf");
}

@font-face {
    font-family: "cloudy2";
    src: url("font/AlphaClouds.ttf");
}

body {
    position: relative;
}

header {
    background: linear-gradient(rgba(255, 255, 255, 1) 0%, rgba(0, 0, 0, 0)99%);
}

header h1 {

    opacity: 0.8;
    font-family: cloudy;
    color: #3798fa;
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.cloud {
    background: linear-gradient(rgba(255, 255, 255, 1) 0%, rgba(0, 0, 0, 0)90%);
    margin-left: -200px;
    margin-top: -200px;
}



.section1 {
    color: rgba(255, 255, 255, 0.6);
    font-size: 30px;
    font-weight: bold;
    margin-top: 300px;
    min-height: 100%;
}

.section1 p {
    color: rgba(255, 255, 255, 0.7);
    font-size: 30px;
    font-weight: bold;
    margin-top: 200px;
    min-height: 100%;
}

.section1 img {
    margin-top: -30%;
}





#cloud1 {
        opacity: 0.7;

    margin-top: 0%;
    margin-right: -1700%;

}

#cloud2 {
    opacity: 0.8;
    margin-top: 10%;
    margin-right: -1100%;

}

#cloud3 {
        opacity: 0.7;

    margin-top: 120%;
    margin-right: -1500%;

}

#cloud4 {
        opacity: 0.7;

    margin-top: 50%;
    margin-right: -500%;

}

#cloud5 {
        opacity: 0.9;

    margin-top: 100%;
    margin-right: -100%;

}

#plane {
    margin-top: 20%;
    margin-right: -100%;

}